* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1%;
}

.feature-mobile,
.company-mobile {
    display: none;
}

.feature-mobile p {
    display: flex;
    gap: 14px;
}

.wrapper-mobile.active .feature-mobile,
.wrapper-mobile.active .company-mobile {
    display: block;
}

.wrapper-mobile.active .arrow-icon {
    transform: rotate(180deg);
}

.modal-mobile {
    display: none;
    width: 240px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
}

.mobile-options {
    display: flex;
    padding: 35px 0;
    flex-direction: column;
    gap: 20px;
}

.arrow-down-mobile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.options-modal-mobile {
    right: 0;
    top: 0;
    position: absolute;
    background-color: white;
    width: 250px;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    padding: 20px 25px;
}

.close-menu {
    align-self: flex-end;
}

.feature-mobile p,
.company-mobile p {
    margin-top: 20px;
    margin-left: 25px;
}

.mobile-options p {
    font-weight: 500;
    color: rgb(133, 131, 130);
}

.auth-mobile {
    font-weight: 600;
    color: rgb(133, 131, 130);
    margin: 10px 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.auth-mobile .register {
    width: 100%;
    border-radius: 15px;
    padding: 13px 0;
    text-align: center;
    border: 2px solid rgb(133, 131, 130);
}

.nav-mobile {
    display: none;
    position: relative;
}

.align-nav-mobile {
    display: flex;
    justify-content: space-between;
}

.nav-desktop {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-desktop a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(152, 151, 150);
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
    /* espaçamento entre itens */
}

.hover:hover {
    color: black;
}

.nav-right {
    padding-left: 30px;
}

.logo {
    height: 32px;
    margin-right: 24px;
}

.nav-right .register {
    padding: 15px 25px;
    border: 2px solid rgb(152, 151, 150);
    border-radius: 10px;
}

.nav-right .register:hover {
    border: 2px solid black;
    color: black;
}

.dropdown-wrapper {
    position: relative;
    gap: 5px;
    display: flex;
    align-items: center;
}

.arrow-down a {
    gap: 10px;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.feature {
    display: none;
    border-radius: 10px;
    padding: 25px 15px;
    background-color: white;
    position: absolute;
    top: 40px;
    right: 0;
    box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.3);
}

.options-feature {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.options-feature a {
    display: flex;
    gap: 10px;
}

.option-single-feature a {
    font-weight: 500;
    color: hsl(0, 0%, 41%);
}

.company {
    display: none;
    width: auto;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    position: absolute;
    top: 40px;
    box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.3);
}

.option-single-company {
    display: flex;
    flex-direction: column;
}

.option-single-company a {
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    white-space: nowrap;
    margin: 5px 0;
}

.dropdown-wrapper.active .feature,
.dropdown-wrapper.active .company {
    display: block;
}

.dropdown-wrapper.active .arrow-icon {
    transform: rotate(180deg);
}

.hover {
    color: black;
}

main {
    margin-bottom: 20px;
}

.align-main-content {
    margin: 100px 140px;
    gap: 30px;
    display: flex;
}

.description-desktop,
.hero-desktop {
    flex: 1;
}

.description-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-single {
    display: flex;
    flex-wrap: wrap;
}

.description-single h1 {
    font-size: 5rem;
}

.description-single p {
    margin-top: 2rem;
    line-height: 30px;
    color: hsl(0, 0%, 41%);
    font-size: 1rem;
    font-weight: 500;
}

button {
    cursor: pointer;
    width: fit-content;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    border: 1px solid black;
    background-color: black;
    color: white;
}

button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.images {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.images img {
    height: 23px;
}

.hero-desktop img {
    object-fit: contain;
    display: block;
    min-width: 546px;
    min-height: 728px;
    width: 100%;
}

.hero-mobile img {
    object-fit: contain;
    width: 100%;
    padding: 20px 2%;
    display: none;
}

.attribution {
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    padding: 30px;
    text-align: center;
}

.attribution a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}